<div class="banner yellow" data-banner-version="ducklake-duckcon">
    {% comment %}
    Available color classes: purple, yellow, blue
    Add multiple .banner-item elements to rotate between them every X seconds.
    {% endcomment %}
    <div class="content banner-rotator" data-interval="7">
        <div class="banner-item active">
            We released <a href="https://ducklake.select/2026/04/13/ducklake-10/">DuckLake 1.0</a>, a SQL-only lakehouse format that enables multiplayer DuckDB.
        </div>
        <div class="banner-item">
            We are hosting <a href="{% link _events/2026-06-24-duckcon7.html %}">DuckCon #7</a> in Amsterdam on June 24, our community conference. Register now!</a>
        </div>
    </div>
    <div class="close"><svg class="icon"><use href="#x"></use></svg></div>
</div>
